.adminPanel{
  
    margin-right:20%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    margin-left: 20%;
    padding: 15px;
    background-color: white;
    border-radius: 25px;
}
.mainAdmin{
    background: #ae4859; 
    padding-top: 10%;
    background: -webkit-linear-gradient(to left, #240b36, #ae4859); 
    background: linear-gradient(to left, #240b36, #ae4859);
   
}